.inputSection, .tableSection {
    margin: 2em;
}

fieldset {
    border: none; 
    padding: 2em 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: #FFF; 
    border: 1px solid #FFF;
    color: #FFF;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #2980b9;
    border-color: #2980b9;
    min-width: 300px;
    border-radius: 2px;
}

.submissions {
    width: 60vw; 
    max-width: 500px; 
    min-width: 300px;
    margin: 0 auto; 
}

td, th {
    width: 200rem;
    /* border: 2px solid #95a5a6; */
    background-color: #34495e; 
    margin: 0;
    /* border-radius: 3px; */
}

td:first-of-type, th:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


td:last-of-type, th:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}