<!DOCTYPE html>
<header lang="en">
    <meta charset="UTF-8">
    <title>Financial Timeline</title>
    <link rel="stylesheet" href="../Styles/main.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
        html {
            font-family: Roboto, serif;
        }
    </style> 
    <meta display="flex">
</header>
<body>
    <h1><a href="../index.html">Amortization Table</a></h1>
    <div id="amortizationTable"></div>
    <script src="../Scripts/main.js"></script>
</body>